<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>B.M8</title>
    <link rel="stylesheet" href="Best.M8.css">
    <link rel="icon" href="Media/faviconn.ico">
</head>



<body>
   
    <div class="top">
        <img src="Media/cloud.png" class="t-cloud" width="10%">
        <img src="Media/logo_200x200.png" class="logo">
        <img src="Media/cloud.png" class="b-cloud" width="20%">
        <p class="top-p">Always be your best mate</P>
    </div>
    

    <div class="middle">
    </div>

    <h1 th:text="${name}"></h1>
    <h1 th:text="${age}"></h1>

    <div class="bottom">
        
    </div>

    



</body>
</html>